*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #3b3c43;
    padding: 16px;
}
.logo{
    float: left;
    padding: 0px 220px;
}
.search {
    display: flex;
    margin-right: 100px;
   }
   
   .search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
   }
   .search input {
    width: 300px;
    padding:10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px
  }
  
  input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  .search button {
    height: 100%;
    width: 60px;
    border: none;
  }
  .material-symbols-outlined{
    float: right;
    padding: 10px 204px 10px 10px;
    margin-top: -45px;
    font-size: 0.9em;
    cursor: pointer;
    font-size: 48px !important;
  }

  #stripe {
    background-color: white;
    text-align: center;
    height: 50px;
    color: black;
}

.buttons button{
  
  /* margin-left: 80px;
    background-color: white;
    border: 1px white;
    padding: 15px 24px 10px 10px;
    */
    border: none;
    background: none;
    /* margin-left: 80px; */
     padding: 15px 24px; 
    height: 100%;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
    float: right ;
    cursor: pointer;

  }


.buttons button:hover {
  background-color: #000000;
  color: white;
}
.first h1{
  position:absolute;
  top: 35%;
  left: 24%;
  transform: translate(-50%,-50%);
  text-align: left;
  margin-top: 100px;
  color: white;

}
.first h3{
  position:absolute;
  top: 42%;
  left: 20%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 100px;
  color: white;
}
.first img{
  display: block;
  width: 100%;
  margin: auto;
  height: 600px;
  
}
.first button{
  position:absolute;
  top: 58%;
  left: 13.5%;
  line-height: 33.6px;
  font-size: 16px;
  background-color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 135px;
}
.first button:hover {
  background-color: #3b3c43;
  color: white;
}




.second{
  padding: 25px ; 
  font-size: 22px;
  display: flex;
}

.second img{
    align-self: flex-start;
    display: block;
    width: 180%;
    
    height: 470px;
    
  }
 
  .second .text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    margin-left: 440px;
    margin-top: 100px;
  }
  .text-col h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-col button{
  cursor: pointer;
  width: 135px;
  color: #e9eaeb;
  border: none;
  text-align: center;
  line-height: 33.6px;
  font-size: 16px;
  background-color: #3b3c43;
  margin-top: 18px;
}
.text-col button:hover{
  background-color: #000000;
  color: white;
}



.third{
  padding: 25px ; 
  font-size: 22px;
  display: flex;
}

.third img{
    align-self: flex-start;
    display: block;
    width: 141%;
    
    height: 470px;
    
  }
 
  .third .text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 100px;
  }
  .text-col h2{
    
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-col button{
  cursor: pointer;
  width: 135px;
  color: white;
  border: none;
  text-align: center;
  line-height: 33.6px;
  font-size: 16px;
  background-color: #3b3c43;
  margin-top: 18px;
}
.text-col button:hover{
  background-color: #000000;
  color: white;
}




.four{
  padding: 25px ; 
  font-size: 22px;
  display: flex;
}

.four img{
    align-self: flex-start;
    display: block;
    width: 180%;
    
    height: 470px;
    
  }
 
  .four .text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    margin-left: 440px;
    margin-top: 100px;
  }
  .text-col h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-col button{
  cursor: pointer;
  width: 135px;
  color: white;
  border: none;
  text-align: center;
  line-height: 33.6px;
  font-size: 16px;
  background-color: #3b3c43;
  margin-top: 18px;
}
.text-col button:hover{
  background-color: #000000;
}



/* .five{
  padding: 25px ; 
  font-size: 22px;
  display: flex;
} */

.five img{
  display: block;
  width: 100%;
  margin: auto;
  height: 500px;
  
}
.five .text-col{
  flex-basis: 50%;
  margin-bottom: 20px;
  margin-left: 130px;
  margin-top: -300px;
  color: white;
}
.text-col h2{
  
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
.text-col button{
cursor: pointer;
width: 135px;
color: rgb(0, 0, 0);
border: none;
text-align: center;
line-height: 33.6px;
font-size: 16px;
background-color: #ffffff;
margin-top: 18px;
}
.text-col button:hover{
background-color: #000000;
}



.six img{
  display: block;
  width: 100%;
  margin: auto;
  height: 500px;
  margin-top: 190px;
  
}
.six .text-col{
  flex-basis: 50%;
  margin-bottom: 20px;
  margin-left: 130px;
  margin-top: -300px;
  color: white;
}
.text-col h2{
  
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
.text-col button{
cursor: pointer;
width: 135px;
color: white;
border: none;
text-align: center;
line-height: 33.6px;
font-size: 16px;
background-color: #3b3c43;
margin-top: 18px;
}
.text-col button:hover{
background-color: #000000;
}



.descreption{
  text-align: center;
  margin-top: 200px;

}
.descreption h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.descreption button{
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.email-sign{
  margin-left: 220px;
  margin-top: -40px;
}
.email-sign form{
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
  width: 260px;
}
/* .email-sign input{
  width: 215px;
} */
.email-sign  input {
  width: 300px;
  padding:10px;
  border: 0;
  height: 100%;
}
.email-sign i{
  width: 100%;
  height: 100%;
}
.font{
  
  margin-left: 57px;
  padding: 10px 10px 10px 1250px;
  font-size: 30px;
  cursor: pointer;
  -ms-grid-row-align: 10px;
 }
 .line hr{
  display: block;
  margin-top: 3.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
 }



 /* .footer{
  padding: 50px 15% 10px;
  border-top: 6px;
  
}

.footer .col{
  flex-basis: 25%;
  flex-grow: 1;
  padding: 10px 10px 10px 10px;
}
.footer .col a{
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .row{
  align-items: flex-start;
  padding: 10px 0;
} */


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.line-t hr{
 
  border-width: 8px;
}
.last img{
  margin-left: 220px;
}
.last p{
  margin-left: 300px;
  margin-top: -36px;
}


.country .country-btn{
  cursor: pointer;
  margin-left: 900px;
  padding: 0px 14px 7px 13px;
  margin-bottom: 16px;
  width: 150px;
}
.country .country-btn img{
  width: 20px;
  height: 20px;
}
